socks5: SOCK5_PROXY,REMOVE_IF_YOU_DONT_NEED
user_agent: USER_AGENT


auth:
  username: admin
  password: password

task:
  update_interval: 60
  update_interval_delta: 10

log:
  level: debug
  db_log: true # 打印数据库日志，false则只会打印数据库错误日志
  file: ./gogetit.log

sqlite:
  path: ./data.db
